dash>=2.15,<3
dash-bootstrap-components>=1.5,<2
gunicorn>=21,<22
flask>=2,<4

openai>=1.35,<2
python-dotenv>=1,<2
requests>=2.31,<3
duckduckgo-search>=6,<7
reportlab>=4.0,<5

llama-index-core>=0.10.20,<0.11
llama-index-llms-openai>=0.1.20,<0.2

# Required if you click "Generate with HuggingFace 🤗"
transformers[flax]>=4.44,<5
jax[cpu]>=0.4.30,<0.5

numpy>=1.24,<2
